<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 ">
    <h2>Login</h2>
    <form class="form-horizontal login-panel">
      <fieldset>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12 ">
              <input class="form-control" placeholder="User name" type="text" [(ngModel)]='loginModel.username' name="username">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12 ">
              <input class="form-control" placeholder="Password" type="password" [(ngModel)]='loginModel.password' name="password">
            </div>
          </div>
        </div>
        <button (click)='Login()'>Login</button>
      </fieldset>
    </form>
  </div>
</div>

