.header {
    height: 100px;
}

.bar {
    background-color: #FE763A;
    height: 20px;
}

.logo {
    width: 100px;
}

.input-icon-left>i {
    right: auto;
    left: 24px;
}

.input-icon-left>i, .input-icon-right>i {
    position: absolute;
    right: 10px;
    top: 30%;
    font-size: 16px;
    color: #bfbfbf;
}

