<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <img class="logo" src="/assets/logo.png" alt="">
</div>
<div class="container-fluid bar">
</div>
<div class='container-fluid'>
  <router-outlet></router-outlet>
</div>

