<div class="row">
    <div class="col-md-12">
        <button class="btn-xs btn-warning pull-right" (click)='Logout()'>Logout</button><br>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form class="form-horizontal">
            <h2>Transaction</h2>
            <!-- <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <input required class="form-control" placeholder="Customer Name" type="text" [(ngModel)]='transaction.name' name="name" />
                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <textarea required class="form-control" placeholder="Description" [(ngModel)]="transaction.description" name="description" ></textarea><br>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <input required class="form-control" placeholder="Amount" type="text" [(ngModel)]='transaction.amount' name="amount" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <input required class="form-control" placeholder="Paymex Key" [textMask]="{mask: mask}" type="text" [(ngModel)]="transaction.paymexKey" name="paymexCode" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Expiry date</label>
                        <input required class="form-control" placeholder="Expiry date" type="date" [(ngModel)]="transaction.expiryDate" name="expiryDate">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-info" (click)="Submit()">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>  
</div>